# Tuples in Python
tuple is similar to list but it is not mutable

In [3]:
tup = (10,20,30,40)
print(type(tup),tup)


# we can not  append in tuple and can not assign new value to any index
# tup.append(50)
# print(tup)

<class 'tuple'> (10, 20, 30, 40)

In [4]:
tup1 = (10,)
print(tup1, type(tup1))

(10,) <class 'tuple'>

## Tuple Methods

In [5]:
print(tup.count(10))

1

In [6]:
print(tup.index(30))

2

# Sets in Python
stores unique elements, mutable , unordered so no indexing and slicing

In [27]:
s = {1,2,3}
print(s, type(s))

{1, 2, 3} <class 'set'>

In [28]:
s = [] #list
print(type(s))

s = () #tuple
print(type(s))

s = {} # dict
print(type(s))

# empty set
# s = set({}) # or
s = set() # or
print(type(s))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [29]:
s ={1,2,3,4,5,1,2}
print(s)

if(3 in s):
    print("3 is present")
else:
    print("3 is not present")

{1, 2, 3, 4, 5}
3 is present

In [30]:
# iterating in set
sum=0
for element in s:
    sum+=element
print(sum)

15

## Set Methods

In [31]:
# adding in set
s.add(10)
print(s)

s.add(0)
print(s)

{1, 2, 3, 4, 5, 10}
{0, 1, 2, 3, 4, 5, 10}

In [ ]:
# pop
s.pop() #removes from the first
print(s)

# remove element
s.remove(10)
print(s)

{2, 3, 4, 5}
{2, 3, 4, 5}

In [37]:
# union and intersection in set

# union
a ={1,2,3,4}
b={4,5,6}
s = a.union(b)
print(s)

# intersection
s = a.intersection(b)
print(s)

{1, 2, 3, 4, 5, 6}
{4}

In [ ]:
# disjoint set check -> no common element in two sets
print(a.isdisjoint(b))

False

In [42]:
# subset check
a = {1,2,3,4,5}
b = {3,4}
print(a.issubset(b))
print(b.issubset(a))

False
True

# Dictonary
mutable, unordered so no indexing and slicing
only immutable data types are accepted as keys

In [44]:
dict ={}
print(type(dict))

<class 'dict'>

In [45]:
dict ={
    "name":"Phitron",
    "age":28,
    "address":"Dhaka",
    "numbers":[10,20,30]
}
print(dict)

{'name': 'Phitron', 'age': 28, 'address': 'Dhaka', 'numbers': [10, 20, 30]}

In [53]:
print(dict["name"])
print(dict["address"])
# or
print(dict.get("age")) #better fir error hadling

Phitron AI/ML
Dhaka
20

In [54]:
dict["name"] = "Phitron AI/ML"
print(dict)

{'name': 'Phitron AI/ML', 'age': 20, 'address': 'Dhaka', 'numbers': [10, 20, 30]}

In [55]:
dict["age"]=20
print(dict)

{'name': 'Phitron AI/ML', 'age': 20, 'address': 'Dhaka', 'numbers': [10, 20, 30]}

## Dictionary Methods

In [56]:
print(dict)

{'name': 'Phitron AI/ML', 'age': 20, 'address': 'Dhaka', 'numbers': [10, 20, 30]}

In [58]:
print(dict.get("math_marks")) # dictionary te ei key nai tai None asbe
print(dict.get("math_marks",0)) # na paile default value 0 set kore dibe

None
0

In [69]:
dict.update({"english_marks":40})
print(dict)

{'name': 'Phitron AI/ML', 'age': 20, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'english_marks': 40}

In [70]:
# removing key in dictonary
del dict["english_marks"]
dict.pop("age")

print(dict)

{'name': 'Phitron AI/ML', 'address': 'Dhaka', 'numbers': [10, 20, 30]}

In [71]:
dict2 = dict.copy()
print(dict2)

{'name': 'Phitron AI/ML', 'address': 'Dhaka', 'numbers': [10, 20, 30]}

## Dictonary View Methods
changes in real time

keys, values, items

In [ ]:
# keys
keys = dict.keys()
print(keys)

dict_keys(['name', 'address', 'numbers'])

In [73]:
dict["math_number"]=30
print(keys)

dict_keys(['name', 'address', 'numbers', 'math_number'])

In [74]:
# values
values = dict.values()
print(values)

dict_values(['Phitron AI/ML', 'Dhaka', [10, 20, 30], 30])

In [76]:
dict["eng_mark"] = 50
print(keys)
print(values)

dict_keys(['name', 'address', 'numbers', 'math_number', 'eng_mark'])
dict_values(['Phitron AI/ML', 'Dhaka', [10, 20, 30], 30, 50])

In [77]:
# items
items = dict.items()
print(items)

dict_items([('name', 'Phitron AI/ML'), ('address', 'Dhaka'), ('numbers', [10, 20, 30]), ('math_number', 30), ('eng_mark', 50)])

In [ ]:
dict["bangla_marks"] = 100
print(keys)
print(values)
print(items) # return ke,value tuples of list

dict_keys(['name', 'address', 'numbers', 'math_number', 'eng_mark', 'bangla_marks'])
dict_values(['Phitron AI/ML', 'Dhaka', [10, 20, 30], 30, 50, 100])
dict_items([('name', 'Phitron AI/ML'), ('address', 'Dhaka'), ('numbers', [10, 20, 30]), ('math_number', 30), ('eng_mark', 50), ('bangla_marks', 100)])

In [81]:
# iteration
# for key, value in dict: #does not work
#     print(key,value)

for key, value in dict.items():
    print(key,value)

name Phitron AI/ML
address Dhaka
numbers [10, 20, 30]
math_number 30
eng_mark 50
bangla_marks 100

## Dictionary Comprehenssion

In [83]:
# syntax
# {expression, iterable, condition}
# expression will be like key:value
square = {x:x**2 for x in range(1,10) if x%2==0}
print(square)

{2: 4, 4: 16, 6: 36, 8: 64}

In [86]:
# another comprehenssion
co_ordinates = [10,20,30]
locations = ["dhaka", "rangpur", "khulna"]
exact_location = {co_or : loc for co_or, loc in zip(co_ordinates, locations)}
print(exact_location)

{10: 'dhaka', 20: 'rangpur', 30: 'khulna'}

# Module Problem Solve

## 1. Given a list of numbers. Make a list with unique values.
list = [10,20,10,30,30,50,30]

In [91]:
list = [10,20,10,30,30,50,30]
unique_set = {x for x in list}
print(unique_set,type(unique_set))
unique_list = [unique_set]
print(unique_list,type(unique_list))

{10, 20, 50, 30} <class 'set'>
[{10, 20, 50, 30}] <class 'list'>

## Given a string, print the frequency of the words
apple banana apple orange banana apple

In [102]:
string = "apple banana apple orange banana apple"
string_arr = string.split()
word_frequency = {word:string_arr.count(word) for word in string_arr}
print(word_frequency)
print(type(word_frequency))

for k,v in word_frequency.items():
    print(f"count of {k} is {v}")

{'apple': 3, 'banana': 2, 'orange': 1}
<class 'dict'>
count of apple is 3
count of banana is 2
count of orange is 1