# Function

## Parameters

In [2]:
def greet():
    print("hello")

In [3]:
greet()

hello

In [5]:
def greet(user="guest"):
    print("hello ",user)
greet("maruf")
greet()

hello  maruf
hello  guest

In [ ]:
def sum(a,b,c):
    return a+b+c
# positional argument
print(sum(10,20,30))
# keyword argument
print(sum(c=30,b=20,a=10))

60
60

In [ ]:
# variable size arguments
def sum(*args):
    print(args)
    s=0
    for val in args:
        s+=val
    return s

a=2
print(sum(1,a,3,4,5))

(1, 2, 3, 4, 5)
15

In [ ]:
# variable size keyword arguments
def student(**kwargs):
    print(kwargs)
    for key,val in kwargs.items():
        print(f"{key} : {val}")
    
student(name="maruf",cls=12,roll=30)

{'name': 'maruf', 'cls': 12, 'roll': 30}
name : maruf
cls : 12
roll : 30

## Return Types in Function

In [21]:
# return tuple
def check():
    return 5,10
type(check())

# unpacking
x,y=check()
print(x,y)

5 10

In [ ]:
# return list
def check():
    return [10,20,30]
print(type(check()))

<class 'list'>

In [24]:
# return multiple list as tuple
def check():
    a = [10,20,30]
    b=[1,2,3]
    return a,b
print(type(check()))
# unpacking
a,b=check()
print(a,b)

<class 'tuple'>
[10, 20, 30] [1, 2, 3]

In [25]:
# return set
def check():
    return {1,2,3}
print(type(check()))

<class 'set'>

# Iterator and Generator

## Iterator

In [37]:
s = {10,20,30,40,60}

s_iter = iter(s)
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))

for i in s:
    print(i)

20
40
10
60
30
20
40
10
60
30

## Generator/Yield

In [39]:
list = [x for x in range(500)]
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499]

In [49]:
def data_loader(chunk_size,list):
    for i in range(0,len(list),chunk_size):
        yield list[i:i+chunk_size]
x = data_loader(5,list)
print(type(x))
print(x)
print(next(x))
print(next(x))
print(next(x))

<class 'generator'>
<generator object data_loader at 0x000001BE6FA2D4E0>
[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[10, 11, 12, 13, 14]

# Lamda Function
inline, anonymous, special function

In [ ]:
def square_addition(x,y):
    return x**2+y**2


# same thing using lamda function
sq_add = lambda x,y: x**2 + y**2 
print(sq_add(2,3))

13

In [55]:
is_even = lambda x : x%2==0
print(is_even(11))

False

# Map Function

In [5]:
# map in list
lst = [1,2,3,4,5]
def square(x):
    return x*x

# using list comprehension
list_com_square = [x**2 for x in lst]
print(list_com_square)

# using map
# map(function,iterable)
list_map_square = map(square,lst)
print(list_map_square)
list_map_square = list(map(square,lst))
print(list_map_square)

[1, 4, 9, 16, 25]
<map object at 0x000001F73EE686A0>
[1, 4, 9, 16, 25]

In [7]:
# map with lambda function
square  = list(map(lambda x: x**2,lst))
print(square)

[1, 4, 9, 16, 25]

In [13]:
# map in string
# make all the first characters of the string to uppercase
string="welcome to the world of dev bangladesh"
lst_str = string.split()
print(lst_str)
upp_list = list(map(lambda word: word.capitalize(), lst_str))
print(upp_list)

# join back into a string
result = " ".join(upp_list)
print(result)

['welcome', 'to', 'the', 'world', 'of', 'dev', 'bangladesh']
['Welcome', 'To', 'The', 'World', 'Of', 'Dev', 'Bangladesh']
Welcome To The World Of Dev Bangladesh

# Filter Function in Python

In [16]:
numbers = [x for x in range(100)]
print(numbers)

# even
# filter(funnction->return true/false, iterable)
even = filter(lambda x: x%2==0,numbers)
print(even)
even = list(filter(lambda x: x%2==0,numbers))
print(even)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
<filter object at 0x000001F73F043910>
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [ ]:
# cleaning data
data = [0,1,'', None, 'Hello', [], [1,2], None, True, False, None]
print(data)

# cleaned_data = list(filter(None,data)) # better aproach
cleaned_data = list(filter(lambda x: x!=None and x!='' and x!=[] and x!=False, data))
print(cleaned_data)

[0, 1, '', None, 'Hello', [], [1, 2], None, True, False, None]
[1, 'Hello', [1, 2], True]

# Reduce Function

In [26]:
from functools import reduce

lst = [1,2,3,4,5]
# reduce(function, iterable)
sum = reduce(lambda x,y: x+y, lst)
print(sum)

15

In [29]:
max_value = reduce(lambda x,y: x if x>y else y,lst)
print(max_value)

5